# 1) Five List in built functions

In [2]:
lst = [1,2,"a","Ayush","200",33.6,-13,"23.78","Hello",["Hey","Man"],98]
lst

[1, 2, 'a', 'Ayush', '200', 33.6, -13, '23.78', 'Hello', ['Hey', 'Man'], 98]

In [3]:
#Appending an element to the end of the list
lst.append(46)
lst

[1,
 2,
 'a',
 'Ayush',
 '200',
 33.6,
 -13,
 '23.78',
 'Hello',
 ['Hey', 'Man'],
 98,
 46]

In [9]:
#Count the number of element occurs in the list
list1 = ('a',1,45,"e",1,7,5)
list1.count(1)

2

In [10]:
lst

[1,
 2,
 'a',
 'Ayush',
 '200',
 33.6,
 -13,
 '23.78',
 'Hello',
 ['Hey', 'Man'],
 98,
 46]

In [11]:
#Find the index value from the list
lst.index("Ayush")

3

In [12]:
lst

[1,
 2,
 'a',
 'Ayush',
 '200',
 33.6,
 -13,
 '23.78',
 'Hello',
 ['Hey', 'Man'],
 98,
 46]

In [13]:
#Remove the item at the given index from the list
lst.pop(4)

'200'

In [14]:
lst

[1, 2, 'a', 'Ayush', 33.6, -13, '23.78', 'Hello', ['Hey', 'Man'], 98, 46]

In [17]:
#reverse the list
lst.reverse()
print(lst)

[46, 98, ['Hey', 'Man'], 'Hello', '23.78', -13, 33.6, 'Ayush', 'a', 2, 1]

# 2) Five built-in Dictionary Element

In [18]:
dict1 = {"name":"robert","age":"26","job":"Engineer","Location":"London"}
dict1

{'name': 'robert', 'age': '26', 'job': 'Engineer', 'Location': 'London'}

In [20]:
#print the all keys from the Dictionary
print(dict1.keys())

dict_keys(['name', 'age', 'job', 'Location'])

In [23]:
#returns copy of a dictionary
dict2 = dict1.copy()
dict2

{'name': 'robert', 'age': '26', 'job': 'Engineer', 'Location': 'London'}

In [22]:
#Print all the values of Keys
dict1.values()

dict_values(['robert', '26', 'Engineer', 'London'])

In [25]:
#Update the dictionary with some element
d = {1:"One",2:"TOO"}
d1 = {2:"Two"}
d.update(d1)
d

{1: 'One', 2: 'Two'}

In [26]:
dict2

{'name': 'robert', 'age': '26', 'job': 'Engineer', 'Location': 'London'}

In [27]:
#Popitem remove the last element
pop = dict2.popitem()
print("Popped item :",pop)
print("Dictionary :",dict2)

Popped item : ('Location', 'London')
Dictionary : {'name': 'robert', 'age': '26', 'job': 'Engineer'}